.fa-user-tie{
    font-size: 18px;
}
#index-tingkat{
}
#create-tingkat{
}
#h2-create{
    text-transform: uppercase;
}
.nama_admin-dashboard{
    font-family: 'Chewy', cursive;
    text-align: center;
    color: black;
    margin-top: 200px;
    margin-right: 30px;
    font-size: 50px;
}