/* navbar */
.navbar{
    background-color:  #002244;
}
#a-navbar, #navbarDropdown{
    text-align: center;
    float: left;
    color: white;
}

/* carousel */
#img-crs1, #img-crs2{
    height: 600px;
}
.btn-crs{
    text-align: end;
}

/* footer */
.footer{
    margin-top: 50px;
    background-color: #002244;
    min-height: 450px;
}
#ft{
    padding-top: 40px;
}
#img-footer{
    height: auto;
    width: 100%;
    border-radius: 30px;
}
#p-ft1{
    text-align: justify;
    color: white;
}
#p-ft2{
    text-align: justify;
    color: white;
}
#p-ft3{
    font-size: 20px;
    color: white;
}

/* header */
#logonavbar{
    border-radius: 30px;
}

/* content */

/* ctn-home1 */
#ctn-home1{
    margin-top: 50px;
}
/* row-home1-1 */
#row-home1-1{
    align-items: center;
    position: relative;
    box-shadow: 0 3px 20px  rgba(0,0,0,0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: white;
    padding: 30px;
    margin-bottom: 2rem;
}
#p-home1{
    text-align: center;
    color:#2A4365;
    font-family: 'PT Sans', sans-serif;
}
#p-home2{
    font-size: 25px;
}
#garis-home{
    border-top: 5px #2A4365 solid;
    border-radius: 5px;
    width: 150px;
}

/* row-home1-2 */
#img-home1{
    height: auto;
    width: 100%;
    justify-items: center;
}
#row-home1-2{
    margin-top: 50px;
}
#p-home3, #p-home5{
    font-style: italic;
}
#p-home4, #p-home6{
    text-align: justify;
}
#p-home7{
    text-decoration: none;
}
#btn-home1{
    background-color:#2A4365;
    border-radius: 15px;
}

/* row-home1-3 */
#row-home1-3{
    margin-top: 50px;
}
#img-home2{
    height: auto;
    width: 100%;
    justify-items: center;
    border-radius: 20px;
}
#p-home9{
    text-align: justify;
}
#p-home10{
    text-align: end;
}
#garis-home1{
    border-top: 3px #2A4365 solid;
    border-radius: 5px;
}

/* ctn-home 2 */
.card-ctnhome2{
    margin-top: 50px;
}
.img-ctn2{
    height: 400px;
}
#rowhome2-1{
    margin-top: 80px;
}
.ch2-1{
    text-align: center;
}
.ch2-2{
    text-align: center;
}
.ch2-3{
    text-align: center;
}
#p-home11{
    font-size: 50px;
    color: #3b9ad7;
    font-weight: bolder;
}
#p-home12{
    font-size: 20px;
    color: black;
    font-weight: bold;
}

/* ctn-home3 */
#ctn-home3{
    margin-top: 50px;
}
#p-home13{
    text-align: center;
    font-size: 50px;
}
#p-home14{
    text-align: center;
    font-size: 20px;
}

/* ctn-home4 */
#ctn-home4{
    margin-top: 50px;
}
.img-ctnhome4{
    height: 500px;
}
.sd1{
    width: 600px;
    padding-top: 30px;
}
#cs1{
    width: 100px;
    height: auto;
    margin-left: 15rem;
}
#p-home15{
    font-weight: bolder; 
    text-align: center;
    padding-top: 30px;
    color: white;
}
#p-home16{
    font-weight: bolder; 
    text-align: center;
    color: white;
}
#p-home17{
    padding-top: 30px; 
    color: white; 
    text-align: center;
}
#p-home18{
    padding-top: 10px; 
    color: white; 
    text-align: center;
}

/* ctn-home5 */
#ctn-home5{
    margin-top: 50px;
}
#row-home5-2{
    margin-top: 40px;
}
#fotoakhir1{
    height: 100%;
}


/* Tentang Sekolah */
#ctn-ttgs1{
    padding-top: 50px;
}
.img-tentangsekolah{
    height: 400px;
}
.title-ttgs{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    padding-top: 150px;
}
#grs-ttgs{
    border-top: 5px white solid;
    border-radius: 5px;
    width: 150px;
}
.crs-ttgs1{
    width: 540px;
}
#p-ttgs1{
    text-align: center;
    color:#2A4365;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
#p-ttgs2{
    text-align: justify;
}
/* visimisi */
#ctn-visimisi1{
    padding-top: 50px;
}
#row-visi1{
    padding-top: 30px;
}
.title-visi{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    padding-top: 150px;
    color: white;
}
#grs-visi1{
    border-top: 5px white solid;
    border-radius: 5px;
    width: 150px;
}
#p-visi1,#p-visi3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-style: italic;
}
#p-visi2{
    text-align: justify;
}
#p-visi4{
    text-align: justify;
}

/* Form Pendaftaran Siswa */
.img-pendaftaransiswa{
    height: 400px;
}
.title-pendaftaran{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    padding-top: 150px;
    color: white;
}
#grs-pendaftaran{
    border-top: 5px white solid;
    border-radius: 5px;
    width: 150px;
}
#card-pendaftaransiswa1{
    margin-top: 50px;
    background-color: #e2e8f0;
}
#p-pendaftaransiswa1{
    text-align: justify;
}
#p-pendaftaransiswa3{
    text-align: justify;
    text-decoration: underline black;
    font-weight: bolder;
}
.btn-pendaftaran{
    margin-top: 30px;
    width: 150px;
}
#ctn-formsiswa{
    margin-top: 50px;
}
.ch-1{
    text-align: center;
    font-weight: bold;
    color: white;
}
.ch-2{
    text-align: center;
    font-weight: bold;
    color: white;
}
#card-formsiswa2{
    margin-top: 50px;
}

/* FormPendaftaranPegawai */
.img-pendaftaranpegawai{
    height: 400px;
}
#card-pendaftaranpegawai1{
    margin-top: 50px;
    background-color: #e2e8f0;
}
#p-pendaftaranpegawai1{
    text-align: justify;
}
#p-pendaftaranpegawai3{
    text-align: justify;
    text-decoration: underline black;
    font-weight: bolder;
}
#ctn-formpegawai{
    margin-top: 50px;
}

/* SMP Art */
#ctn-smpart1{
    padding-top: 50px;
}
#img-smpart{
    width: 540px;
    height: 400px;
}
.title-smpart{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    padding-top: 150px;
}
#grs-smpart{
    border-top: 5px white solid;
    border-radius: 5px;
    width: 150px;
}
#p-smpart1{
    text-align: center;
    color:#2A4365;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
#p-smpart2{
    text-align: justify;
}

/* SMP Science */
#ctn-smpscience1{
    padding-top: 50px;
}
#img-smpscience{
    width: 540px;
    height: 400px;
}
.title-smpscience{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    padding-top: 150px;
}
#grs-smpscience{
    border-top: 5px white solid;
    border-radius: 5px;
    width: 150px;
}
#p-smpscience1{
    text-align: center;
    color:#2A4365;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
#p-smpscience2{
    text-align: justify;
}

/* SMA Science */
#ctn-smascience1{
    padding-top: 50px;
}
#img-smascience{
    width: 540px;
    height: 400px;
}
.title-smascience{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    padding-top: 150px;
}
#grs-smascience{
    border-top: 5px white solid;
    border-radius: 5px;
    width: 150px;
}
#p-smascience1{
    text-align: center;
    color:#2A4365;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
#p-smascience2{
    text-align: justify;
}